.footer {
  position: f;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  color: var(--cream);
  }
  
.footer p {
  margin: 0;
}
.footer ul{
list-style-type: none;
color: var(--cream);
}
.footer ul{
color: var(--cream);
}
.footer a{
text-decoration: none;
color: var(--cream);
}
