@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
*/
:root {
  --skin:  #d3a396;
  --cream: #f9f9f9;
  --dark: #013a63;
  --lipcolor: #743727;
  --blue: #a9d6e5;
  --purple: #b99db5;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--dark);
  font-family: 'Open Sans', sans-serif;
  color: var(--cream); 
  /* overflow-x: hidden;  */
}
.container {
  max-width: 1000px;
  margin: 3rem auto;
}
.skin{
  color: var(--skin);
}
h1{
  font-size: 3rem;
  font-weight: 400;
}
h2{
  font-size: 2rem;
  font-weight: 300;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}
/* home */

.parallax{
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.parallax img {
  position: absolute;
  left:0;
  width: 100%;
  pointer-events: none;
}
.parallax-text{
  position: relative;
  top: 15rem;
}
#text {
  position: relative;
  top: 10rem;
}
#profile_image{
  width: 10rem;
  position: relative;
  top: 10rem;
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
#text h1{
  color: var(--dark);
}

/* COMPETENCE */
.competence{
  max-width: 1000px;
  margin: 8rem auto;
  height: 100vh;
  color: var(--cream);
}
.competence h2{
  font-size: 3rem;
 text-align: center;
  color: var(--blue);
  font-weight: 600;
  margin-top: 4rem;
}
.skills{
  font-size: 2rem;
  padding: 2rem;
  margin-bottom:2rem;
}
.skills ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills li{
  padding: 1rem;
  text-align: center;
}
.skills img{
  width: 6rem;
  padding: 1rem 0;
}
/* CONTACT */
#contact{
  margin-top: -2rem;
  margin-bottom: -3rem;
  text-align: center;
  background: #2c7da0;
  color: var(--cream);
}
.contact{
  height: 100vh;
  max-width: 1000px;
  margin: 1rem auto;
  padding-top: 1rem;
}
/* .contact h2{
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem;
} */
.contact_subdiv{
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  /* background: rgb(240, 240, 240, 0.5); */
  color: var(--dark);
  display: flex;
  justify-content: center;
}
.contact_right{
  width: 100%;
}
.contact_right img{
  width: 100%;
}
.contact_left{
  width:100%;
}
/* .contact_left img{
  width: 15%;
  padding: 0 .5rem ;
}
.contact_left img:hover{
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
}  */

.contact_left h3{
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 5rem;
}
.contact_left span{
  color: var(--purple);
  font-weight: 700;
  font-size: 4rem;
  -webkit-text-stroke: 1px var(--dark);

}
.contact_left_subdiv a{
  color: #013a63;
}
.contact_left_subdiv svg{
  width: 20%;
  fill: none;
}
.contact_left_subdiv svg:hover{
  fill: var(--purple);
}
/* Footer */
footer {
  position: relative;
  bottom: 0;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 11:51:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

ScrollToTop{
  background: none;
}